/* Apply to html and body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* scrolling allowed */
  
  /* Hide scrollbar for IE, Edge, Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
